@{
    Layout = null;
}

<div class="center">
    <a href="/home/excel1">Simple Excel</a>
    <br>
    <a href="/home/excel2">2 Level Excel</a>
    <br>
    <a href="/home/excel3">2 Level Excel 2</a>
</div>

<style>
    .center {
        position: absolute;
        top: 30%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }
</style>